.add-option-error {
    font-style: italic;
    color: $off-white;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-option {
    display: flex;
    //padding: $l-size $m-size 0;
    margin-bottom: $m-size;
}

.add-option__input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: .1rem solid rgba(255,255,255,.3);
    padding: $m-size;
    color: #fff;
    margin-right: $m-size;
    
    &:focus {
        outline: none;
    }
}


@media(max-width: $mobile) {
    .add-option {
        flex-direction: column;
    }
    .add-option__input {
        margin: 0;
        margin-bottom: $m-size;
    }

}