//Colors

$off-black: #130D28;
$off-white: #a5afd7;
$dark-blue: #1D1333;
//$purple: #8357c5;
$purple: #5D347A;
$blue: #3c4251;
$light-blue: #464b5e;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$mobile: 45rem;
